@{
    ViewData["Title"] = "Baylor's Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Baylor's Magic Site!</h1>
    <p>Check out why I love magic, and how I've learned over the years.</p>
</div>
<div>

    <img src="~/img_0044.jpg" class="center-image" height="250" />
    
    <br />
    <p>
        Learning and performing magic tricks has become a captivating hobby for me for over 5 years now. My love for magic began when I watched a man named Shin Lim win America's Got Talent using nothing but slight of hand magic tricks. 
        His unparalleled sleight of hand techniques left me awe-inspired, igniting a passion for magic within me. From then on, I began trying to learn for myself, eagerly absorbing knowledge and honing my skills. As a nightly ritual, 
        I would return home from spending time with friends, eagerly scouring YouTube for tutorials on various tricks while practicing with my own deck of cards. This dedicated pursuit of mastery has persisted for over five years, shaping a unique aspect of my identity. Despite acknowledging it as one of the nerdiest facets of my personality, my enthusiasm for magic knows no bounds.
        <br /><br />
        For Christmas this year, my wife Isabel gave me the amazing present of tickets to see Shin Lim  performance live in Las Vegas. 
        This thoughtful gesture not only showcases her understanding and support for my hobby but also added to my anticipation of experiencing magic at its finest. 
        Watching Shin Lim reminded of the joy and wonderment that magic brings into my life. It serves as a constant source of fascination and excitement, enriching my days with its mystique and endless possibilities.
    </p>
    <br />
</div>

<div>
    <img src="~/cards.jpg" class="center-image" height="200" />
</div>
