@{
    ViewData["Title"] = "Baylor's Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Baylor's Site!</h1>
    <p>Check out <a href="https://www.salesleadershipunited.com/">the website I built using Wordpress</a>.</p>
</div>
